/* // <uniquifier>: Use a unique and descriptive class name

.oswald-<uniquifier> {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
} */
/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800

.open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */
html{
  box-sizing: border-box;
}
*,*::before,*::after{
  box-sizing: inherit;
}

body{
  font-family: 'lato';
  font-size: normal;
  font-size: 16px ;
  line-height: 1.2;
  font-weight: normal;
  color:gray;
}
img{
  max-width: 100%;
  height: auto;
}
fieldset{
  border: none;
}


/* header style start */
.header{
  position: fixed;
  top: 0;
  left: 0;    
  width: 100%;

}

.wrapper{
  max-width: 1060px;
  margin: 0 auto;
}

.wrapper-full{
  max-width: 1262px;
  margin: 0 auto;
}

.section-titel{
  font-size: 35px;
  line-height: 42px;
  font-weight: 500;
  position: relative;
padding-bottom: 10px;
}

.section-titel::after{
  display: block;
  content: '';
  width: 253px;
  height: 3px;
  background-color:
  rgba(0, 109, 254, 1);
  position: absolute;
  bottom: 0;
  left: 0;
}

.header-wrapper{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content:space-between;
  padding-top: 56px;
}


.header-list{
  display: flex;
    flex-wrap: wrap;

}

 .header-item{
  margin-right: 82px;
}
.header-item:last-child{
  margin-right: 0;
}
.header-link{
  font-family: Lato;
  font-size: 18px;
  line-height: 24px;
  color: white;
  text-decoration: none;  
}
.header-link:hover,.header-link:focus,.header-link:active{
  opacity: .75;
}
/* header style end */




/* intro style start */

.intro{
  min-height: 100vh;
  background: url(../jpg/Hero.jpg) no-repeat center;
  background-size: cover; 
   padding-top: 263px;
   padding-bottom: 223px;
}
.intro-titel{
  max-width: 619px;
  font-weight: 500;
  font-size: 50px;
  line-height: 60px;
  color: white;
  margin-bottom: 22px;
}
.intro-subtitel{
  max-width: 546px;
  color:white;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 59px;

}

.search-form-info{
  display: flex;
  flex-wrap: wrap;
  
}

.search-form-field{
  width: 297px;
  background: transparent url(../jpg/Oval.svg) no-repeat left   6px;
  background-size: 20px;
  border:0;
  border-bottom: 2px solid #BFC0C5;
  margin-right: 60px;
  padding-left: 43px;
  padding-bottom: 22px;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
}
.search-form__field::placeholder{
  font-weight: 500;
  font-size: 18px;
  color: #fff;
}

.search-form-submit{
  padding: 15px 39px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 24px;
  color: #fff;
  background: #1B7DFF;
  border: 0;
}
.search-form-submit:hover,.search-form-submit:focus,.search-form-submit:active{
  background: #0e66da;
}
/* intro style end */



/* benedits style start */

.benefits{
  margin-bottom: 131px;
}

.benefits-wrap{
  max-width: 1262px;
  background-color: #fff;
  margin: 0 auto;
  box-shadow: 0px 2px 20px rgba(21,24,36,0.15993);
  position: relative;
  
}

.benefits-titel{
    font-weight: 500;
    font-size: 35px;  
    line-height: 52px;
    padding: 93px 100px 88px 100px;
    position: absolute;
    top: 0;
    left: 0;  
    transform: translateY(-100%);
    background-color: #fff;
    width: 100%;
    
}

.benefits-cards{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-column-gap: 55px;
  padding: 0 100px;
}

.benefits-card{
  grid-column: span 1;
  margin-bottom: 112px;


}

.benefids-card-pic{
  max-width: 66px;
  margin-bottom: 37px;
}

.benefids-card-thumb{
  display: block;
}

.benefids-card-title{
  font-weight:500;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 26px;
}

.benefids-card-desk{
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 39px;
}

.benefids-card-more{
  display: inline-block;
  padding-right: 59px;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 109, 254, 1);
  text-decoration: none;
background: url(../jpg/Shape.svg) no-repeat 95% center; 
transition: .2s all;
}

.benefids-card-more:hover,.benefids-card-more:focus{
  background: url(../jpg/Shape.svg) no-repeat right 
}

/* benedits style end */


/* places start */

.places{
margin-bottom: 131px;
}

.places-view-all{
  font-size: 16px;
  color: rgba(0, 109, 254, 1);
  text-decoration: none;
  background: url(../jpg/Shape.svg) no-repeat 100% center; 
  padding-right: 59px;
}

.places-view-all:hover,.places-view-all:focus{
opacity: .65;
}

.places-caption{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 36px;
}

.places-titel{
  margin-right: 15px;
}

.places-cards{
display: grid;
grid-template-columns: repeat(6 ,1fr);
grid-gap: 10px;

}

.places-card-size-lg{
  grid-column: span 3;
}

.places-card-size-sm{
  grid-column: span 2;
}
.places-card-pic{
  width: 100%;
  transition: .15s;
}
.size-lg{
  height: 354px;
  object-fit: cover;
}

.size-sm{

  height: 281px;
  object-fit: cover;
}


.places-card{
  position: relative;
  overflow: hidden;
}
.places-card:hover .places-card-pic{
transform: scale(1.05);
}


.places-card::after{
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background-color:rgba(21,24,36,0.4);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.places-card-titel{
  font-size: 50px;
  line-height: 60px;
  color: white;
  position: absolute;
  bottom: 27px;
  left: 29px;
  z-index: 3;
}

.places-card-link{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}


/* places end */